# Add a line containing the article number for each article you wish to check, then rename it to articles.yaml
- 10260915 #example: https://www.galaxus.ch/product/10260915
- 9427329 #example: https://www.galaxus.ch/product/9427329
